@model IEnumerable<ToDo.Models.Ambiente>

@{
    ViewData["Title"] = "Ambientes";
}

<h1>Seus Ambientes</h1>

<p>
    <a asp-action="Create">Novo Ambiente</a>
</p>

@if(Model.Count<Ambiente>() > 0){

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
}else{
    <h2 style="margin-top: 60px;" class="text-center">Parece que você não tem nenhum Ambiente ainda. <a asp-action="Create">Crie um novo aqui.</a></h2>
}
